<div class="container-fluid"  style="background-color:lightgray">
    <footer class="text-center text-lg-start text-white">
        <div class="row ">
            <div class="col-md-12 col-sm-12 col-xs-12 d-flex justify-content-center align-item-center">
                <a href="https://www.youtube.com/@stantonysshrineperiyakadu2916" target="_blank">
                    <span class="p-2">
                        <i class="fa-brands fa-youtube fs-2 p-1" style="color: #FF0000;"></i>
                    </span>
                </a>
                <a href="https://www.youtube.com/@stantonysshrineperiyakadu2916" target="_blank">
                    <span class="p-2"><i class="fa-brands fa-facebook fs-2 p-1"></i></span>
                </a>
                <a href="https://www.youtube.com/@stantonysshrineperiyakadu2916" target="_blank">
                    <span class="p-2"><i class="fa-brands fa-instagram fs-2 p-1" style="color:#E4405F;"></i></span>
                </a>
                <a href="https://www.youtube.com/@stantonysshrineperiyakadu2916" target="_blank">
                    <span class="p-2"><i class="fa-brands fa-twitter fs-2 p-1"></i></span>  
                </a>          
            </div>
        </div>
        <div class="row d-flex justify-content-center align-item-center bg-dark p-1">
            © 2024. All Rights Reserved
        </div>
    </footer>
</div>
