<div class="container-fluid d-flex justify-content-center align-items-center">
    <div class="d-flex justify-content-center align-items-center">
        <table class="table border" >

            <thead>
                <tr>
                    <th scope="col" class="bg-info" >DAYS</th>
                    <th scope="col"  class="bg-info">TIMING</th>
                    <th scope="col"  class="bg-info">SERVICES</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">Monday</th>
                    <td>5:30 PM</td>
                    <td>Holy Mass</td>
                </tr>
                <tr>
                    <th scope="row">Tuesday</th>
                    <td>9.00 AM</td>
                    <td>Holy Mass</td>
                </tr>
                <tr>
                    <th scope="row"></th>
                    <td>11:30 AM</td>
                    <td>Novena Mass</td>
                </tr>
                <tr>
                    <th scope="row"></th>
                    <td>5:30 PM</td>
                    <td>Novena Mass</td>
                </tr>
                <tr>
                    <th scope="row">Wednesday</th>
                    <td>5.00 PM</td>
                    <td>Holy Mass</td>
                </tr>
                <tr>
                    <th scope="row">Thursday</th>
                    <td>5:30 PM</td>
                    <td>Holy Mass</td>
                </tr>
                <tr>
                    <th scope="row">Friday</th>
                    <td>5:30 PM</td>
                    <td>Holy Mass</td>
                </tr>
                <tr>
                <th scope="row">Saturday</th>
                <td>5:30 PM
                    <p>*4th Saturday No Mass</p></td>
                <td>Holy Mass</td>
            </tr>
            <tr>
                <th scope="row">Sunday</th>
                <td>11:30 AM</td>
                <td>Holy Mass</td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td>5:30 PM</td>
                <td>Holy Mass</td>
            </tr>
            </tbody>

        </table>

    </div>
</div>
