 <div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-4">
                <button mat-stroked-button (click)="onCertificateButtonClick('baptism')">Baptism Certificate</button>
            </div>
            <div class="col-4">
                <button mat-stroked-button (click)="onCertificateButtonClick('marriage')">Marriage Certificate</button> 
            </div>
            <div class="col-4">
                <button mat-stroked-button (click)="onCertificateButtonClick('death')">Death Certificate</button> 
            </div>
        </div>
        </div>
        <div class="text-center">
            <button mat-button mat-dialog-close >Cancel</button>
        </div>
       
</div>
    




