
<div class="container-fluid d-flex justify-content-center align-items-center">
    <div class="d-flex justify-content-center align-items-center">
    <div id="carouselExample" class="carousel slide" data-bs-ride="carousel" data-bs-interval="3000">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="row">
                <div class="col-4">
                    <img src="./assets/logo.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="col-8">
                    <h3>name</h3>
                    <p>Very quiet and neat place to pray. Almost every year, I have been visiting St. Anthony’s Shrine, it is like magnet pulling us every time. Our last visit was in September 2023 with family from Bangalore. We are very thankful to St. Anthony for all the favours and blessings.</p>
                </div>
            </div>
            
          </div>
          <div class="carousel-item">
            <div class="row">
                <div class="col-4">
                    <img src="./assets/logo.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="col-8">
                    <h3>name</h3>
                    <p>Very quiet and neat place to pray. Almost every year, I have been visiting St. Anthony’s Shrine, it is like magnet pulling us every time. Our last visit was in September 2023 with family from Bangalore. We are very thankful to St. Anthony for all the favours and blessings.</p>
                </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="row">
                <div class="col-4">
                    <img src="./assets/logo.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="col-8">
                    <h3>name</h3>
                    <p>Very quiet and neat place to pray. Almost every year, I have been visiting St. Anthony’s Shrine, it is like magnet pulling us every time. Our last visit was in September 2023 with family from Bangalore. We are very thankful to St. Anthony for all the favours and blessings.</p>
                </div>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
</div>  
</div>