<div class="row m-0 p-0">
    <div class="m-0 p-0">
        <div class="list-group p-0" >
                <button type="button" class="btn btn-outline-secondary list-group-item rounded-0 fw-bold" routerLink="/holyMassTiming">Holy Mass Timing</button>
                <button type="button" class="btn btn-outline-secondary list-group-item rounded-0 fw-bold" routerLink="/newsAndEvents">News & Event</button>
                <button type="button" class="btn btn-outline-secondary list-group-item rounded-0 fw-bold" routerLink="/gallery">Gallery</button>
                <button type="button" class="btn btn-outline-secondary list-group-item rounded-0 fw-bold" routerLink="/testimonial">Testimonials</button>
                <button type="button" class="btn btn-outline-secondary list-group-item rounded-0 fw-bold" routerLink="/searchDetails">Certificate</button>
            </div>
    </div>