<div class="row m-0 p-0">
    <div class="m-0 p-0 w-100 h-100">
        <div class="list-group">
                <button type="button" class="btn btn-outline-secondary list-group-item rounded-0" routerLink="/holyMassTiming">Holy Mass Timing</button>
                <button type="button" class="btn btn-outline-secondary list-group-item rounded-0" routerLink="/newsAndEvents">News & Event</button>
                <button type="button" class="btn btn-outline-secondary list-group-item rounded-0" routerLink="/gallery">Gallery</button>
                <button type="button" class="btn btn-outline-secondary list-group-item rounded-0" routerLink="/testimonial">Testimonials</button>
                <button type="button" class="btn btn-outline-secondary list-group-item rounded-0" routerLink="/searchDetails">Certificate</button>
            </div>
    </div>