/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~bootstrap/dist/css/bootstrap.min.css";


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


nav{
background-color:#19223e;

}
marquee{
  background-color: lightblue;
}
.footer{
  position: fixed;
  bottom: 0;
  width: 100%;
}
.form-card{
  height: 340px;
}
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
